<!-- Je part chercher le code factorisé pour le header dans la mesure où il sera le même pour toutes les pages du site -->

<%- include ("partials/header") %>

<p class="main__description">Un produit vous intrigue ? Cliquez sur une vignette pour obtenir toutes les
    informations !</p>

<main class="main__pizza">

    <!-- Je vais boucler sur toutes les tapas, je réalise donc une boucle en utilisant la syntaxe EJS -->

    <% for (const tapa of tapas) { %>

        <!-- Je ne veux que les images et les noms de tapas -->

        <!-- <a href="/tapas/<%= tapa.id %>" class="main__ul__ahref"><p class="main__pizza__name"><%= tapa.name %></p></a> -->

        <a href="/tapas/<%= tapa.id %>"><img src="<%= tapa.img %>" class="main__products__img"></a>

    <% } %>

</main>

<!-- Le footer risque lui aussi de beaucoup se répéter, du coup on le factorise et on le déplace dans un partial -->

<!-- Bien évidemment, il faut quand même le mentionner ici, je le fais -->

<%- include ("partials/footer") %>